/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-color: #f1b2ce;
  --text-color: #000028;
  --title-color: #ffc2e6;
  --content-title-color: #353430;
  --content-subtitle-color: #353430;
  --button-color: #353430;
  --accent-color: #ff8dcb;
  --color-hover-button: rgba(255, 0, 112, 0.4);
  --main-font: "IBM Plex Mono";
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */

    --bg-color: #f1b2ce;
    --text-color: #000028;
    --title-color: #ffc2e6;
    --content-title-color: #353430;
    --content-subtitle-color: #353430;
    --button-color: #353430;
    --accent-color: #ff8dcb;
    --color-hover-button: rgba(255, 0, 112, 0.4);
    --main-font: "IBM Plex Mono";
    --background-image: url(../images/cover-image-light.png);
  }
}

.page.theme_light .header__rec {
  display: none;
}
.page.theme_auto .header__rec {
  display: none;
}
