/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--bg-color:#000028;
--text-color: #F1B2CE;
--title-color:#db00ff;
--content-title-color: #FF0070;
--content-subtitle-color:#000028;
--button-color: #FF0070;
--accent-color:#FF0070;
--color-hover-button: #353430;
--main-font: 'IBM Plex Mono';
--background-image: url(../images/cover-image-dark.png)
}
